html {
    font-size: larger;
    background-color: black;
    color: greenyellow;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: "Lucida Console", Courier, monospace;;
}

h1 {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

button {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: larger;
    background-color: black;
    color: greenyellow;
    border: 2px solid greenyellow;
    border-radius: 2.5px;
    margin: 20px 50px;
    padding: 25px;
    max-width: 250px;
    min-height: 150px;
}

.results {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}